<p id="notice"><%= notice %></p>

  <% @posts.each do |post| %>

<div class="post group grow">
    <div class="vote-wrap">
            &#9650;
        <br>
        <span class="votes">115</span>
    </div>

    <div class="post-content">
                <h3 class="post-title"><%= post.title %></h3>
         
      <p class="post-description"><%= post.description %></p>
    </div>

    <div class="post-meta">
      <span class="post-comments">99</span>

        <img src="http://tscpl.org/wp-content/uploads/2013/10/treehouse_logo.png" class="post-creator">
    </div>

      <tr>
        
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td> | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

</div>

     
  <% end %>


<button type="button" class="btn btn-danger">
  <%= link_to 'Add New Post', new_post_path %>
</button>

